{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title -%}{{ parent() }} - Modifier mon compte{% endblock %}

{% block breadcrumbs -%}
    <a href="{{ path('extranet_utilisateur_accueil_homepage') }}" title="Accueil">Accueil</a>
    &raquo;&nbsp;<a href="{{ path('fos_user_profile_show') }}" title="Mon compte">Mon compte</a>
    &raquo;&nbsp;Modifier mon mot de passe
{% endblock breadcrumbs %}

{% block content -%}
  {#   <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password" novalidate>
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
#}

    <div id="changePass">
    <div class="row" id="row_edit_user">
        <div class="col-md-1"></div>
        <div class="col-md-2 align_right"><form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form)  }} method="POST" class="fos_user_change_password" novalidate></div>
        <div class="col-md-3 "> {{ form_widget(form, {'attr': {'size': 50}}) }}</div>
        <div class="error">{{ form_errors(form) }}</div>

    </div>
    </div>

</br>
    <div class="row" id="row_edit_user">
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <p>
                <input type="submit" value="{{ 'change_password.submit'|trans }}" onclick="alert('Mot de passe modifié !')" class="btn btn-default btn-sm" />
            </p>
        </div>

        <div class="col-md-3">
            <p>
                <a href="{{ path('fos_user_profile_show') }}" onclick="return confirm('Retour au profil (les données saisies seront perdues) ? ')">
                    <button type="button"class="btn btn-default btn-sm">Annuler</button>
                </a>
            </p>
        </div>
    </div>

    </form>




{% endblock content %}