{% extends '::base.html.twig' %}

{% block title -%}{{ parent() }} - Modifier un utilisateur{% endblock %}

{# {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/extranetutilisateur/css/utilisateur.css') }}" />
{% endblock %}#}

{% block breadcrumbs -%}
    <a href="{{ path('extranet_utilisateur_accueil_homepage') }}" title="Accueil">Accueil</a>
    &raquo;&nbsp;<a href="{{ path('extranet_utilisateur_utilisateur_homepage') }}" title="Gestion utilisateurs">Gestion utilisateurs</a>
    &raquo;&nbsp;Modifier un utilisateur
{% endblock breadcrumbs %}

{% block content -%}

    <div id="utilisateurs_content">

        {{ form_start(edit_form, {'action': path('extranet_utilisateur_utilisateur_modifier', { 'id': entity.id }) , 'method': 'POST'}) }}
            {{ form_errors(edit_form) }}

            <div class="row" id="row_edit_user">
                <div class="col-md-1"></div>
                <div class="col-md-2 align_right">{{ form_label(edit_form.username, 'Nom d\'utilisateur * ') }}</div>
                <div class="col-md-4">{{ form_widget(edit_form.username, { 'attr': {'size': 50} }) }}</div>

                {{ form_errors(edit_form.username) }}
            </div></br>

            <div class="row" id="row_edit_user">
                <div class="col-md-1"></div>
                <div class="col-md-2 align_right">{{ form_label(edit_form.nom, 'Nom *') }}</div>
                <div class="col-md-4">{{ form_widget(edit_form.nom, { 'attr': {'size': 50} }) }}</div>

                {{ form_errors(edit_form.nom) }}
            </div></br>

            <div class="row" id="row_edit_user">
                <div class="col-md-1"></div>
                <div class="col-md-2 align_right">{{ form_label(edit_form.prenom, 'Prénom * ') }}</div>
                <div class="col-md-4">{{ form_widget(edit_form.prenom, { 'attr': {'size': 50} }) }}</div>

                {{ form_errors(edit_form.prenom) }}
            </div></br>

            <div class="row" id="row_edit_user">
                <div class="col-md-1"></div>
                <div class="col-md-2 align_right">{{ form_label(edit_form.email, 'Email * ') }}</div>
                <div class="col-md-4">{{ form_widget(edit_form.email, { 'attr': {'size': 50} }) }}</div>

                {{ form_errors(edit_form.email) }}
            </div></br>

            <div class="row" id="row_edit_user">
                <div class="col-md-1"></div>
                <div class="col-md-2 align_right">{{ form_label(edit_form.agence, 'Agence * ') }}</div>
                <div class="col-md-4">{{ form_widget(edit_form.agence, { 'attr': {'size': 50} }) }}</div>

                {{ form_errors(edit_form.agence) }}
            </div></br>

            <div class="row" id="row_edit_user">
                <div class="col-md-1"></div>
                <div class="col-md-2 align_right">{{ form_label(edit_form.password, 'Mot de passe  *') }}</div>
                <div class="col-md-4">{{ form_widget(edit_form.password, { 'attr': {'size': 50} }) }}</div>

                {{ form_errors(edit_form.password) }}
            </div></br>

            <div class="row" id="row_edit_user">
                <div class="col-md-1"></div>
                <div class="col-md-2 align_right">{{ form_label(edit_form.groups, 'Groupe d\'utilisateur * ') }}</div>
                <div class="col-md-4">{{ form_widget(edit_form.groups, { 'attr': {'class': 'form-control input-xs'} }) }}</div>

                {{ form_errors(edit_form.groups) }}
            </div></br>

            <div class="row" id="row_edit_user">
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <input type="submit" value="Valider les modifications" class="btn btn-default btn-sm" />
                </div>
                <div class="col-md-2">
                    <a href="{{ path('extranet_utilisateur_utilisateur_homepage') }}" title="Gestion utilisateurs"onclick="return confirm('Retour à la liste des utilisateurs (les données saisies seront perdues) ? ')">
                        <button type="button"class="btn btn-default btn-sm">Annuler</button>
                    </a>
                </div>
            </div>

        {{ form_end(edit_form) }}

        <h5>* Champs obligatoires</h5>

    </div>

{% endblock content %}