{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Concours{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('extranet_utilisateur_accueil_homepage') }}" title="Accueil">Accueil</a>
    &raquo;&nbsp;Concours
{% endblock breadcrumbs %}

{% block stylesheets %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('base/css/extranet.css') }}" />

{% endblock %}


{% block content %}


    <div id="concours">

        <h1>Liste des concours</h1></br>

        <table id="UnitConcours" class="table table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Date Limite de réponse</th>
                    <th>Sortable DateLimite</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for UnitConcours in concours %}
                <tr>
                    <td>{{ UnitConcours.dateLimite|date('d/m/Y') }}</td>
                    <td>{{ UnitConcours.dateLimite|date('Y/m/d') }}</td>
                    <td>{{ UnitConcours.titre }}</td>
                    <td>{{ UnitConcours.description }}</td>
                    <td>
                       {% if is_granted('ROLE_SUPER_ADMIN') %}
							<a href="{{ path('extranet_concours_modifier', { 'idConcours': UnitConcours.idConcours }) }}"><img src="{{ asset('base/images/Edit.png') }}"></a>
                            <a href="{{ path('extranet_concours_supprimer', { 'idConcours': UnitConcours.idConcours }) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer ce concours?')"><img src="{{ asset('base/images/croix.png') }}"></a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr><td>Aucun concours n'a été trouvé.</td></tr>
            {% endfor %}
            </tbody>
        </table>
        
         {% if is_granted('ROLE_SUPER_ADMIN') %}

                <a href="{{ path('extranet_concours_ajouter') }}"><img src="{{ asset('base/images/ajout.png') }}">Ajouter un concours</a>

        {% endif %}
    </div>

{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#UnitConcours').dataTable({
                "order": [[ 1, "desc" ]],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json",
                },
                "aoColumns":[
                              {"iDataSort":1},
                              {"visible": false},
                              null,
                              null,
                              {"sortable": false}
                             ]
            })
        } );
    </script>

{% endblock %}